<div class="container">
  <div class="row">
    <div class="col">
      <h1>Listado de Personas</h1>
      <button class="btn btn-primary" [disabled] = 'deshabilitar' (click) = 'agregarPersona()'>Agregar Cliente</button>
      <p>{{mensaje}}</p>
      <app-persona></app-persona>


      <label>Titulo Persona</label>
      <input type="text" class="form-control" [(ngModel)] = 'titulo'/>
      {{titulo}}
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col">
      <label>Operando A</label>
      <input type="number" class="form-control" [(ngModel)] = 'numero1'/>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label>Operando B</label>
      <input type="number" class="form-control" [(ngModel)] = 'numero2'/>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <br>
      <button class="btn btn-primary" (click) = 'sumar()'>Sumar</button>
      <div class="col">
        
          Resultado: {{sum}}
      </div>
    </div>
  </div>
</div>
